.btn-status {
  background-color: #474254bd;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  padding: 0.5em 0.6em;
  display: block;
  margin: 2rem auto;
  border: 0.16em solid rgb(243 233 233 / 0%);
  border-radius: 2em;
  text-shadow: 1px 1px 0em rgb(247 154 154 / 35%);
}

.btn-status__not-ready::after {
  color: #f089aecf;
  font-family: 'FontAwesome';
  content: '\f0e0';
  font-size: 16px !important;
  margin: 5px;
  padding: 5px;
}

.btn-status__ready::after {
  color: #8feb92;
  font-family: 'FontAwesome';
  content: '\f2b6';
  font-size: 16px !important;
  margin: 5px;
  padding: 5px;
}

.btn__save {
  background-color: #474254bd;
  border: 0.16em solid rgb(243 233 233 / 0%);
  border-radius: 2em;
  font-size: 13px;
  padding: 0.2em 0.3em;
  margin: 0.2em 0.5em;
  color: coral;
}
.btn__is-saved {
  border: 0.16em solid rgb(243 233 233 / 0%);
  border-radius: 2em;
  font-size: 13px;
  padding: 0.2em 0.3em;
  margin: 0.2em 0.5em;
  color: #8feb92;
  pointer-events: none;
}

/* .icon-status{
    font-size: 1.3em !important;
    color: #404040;
    margin-left: 1em;
    
}
.icon-status::before{
    font-family: 'FontAwesome';
    content: '\f0e0';
}

.icon-status__ready::before{
    font-family: 'FontAwesome';
    content: '\f2b6';
    color: #FFF;
} */

.label-tag {
  background-color: #fff;
  color: #fff;
  font-family: monospace;
  font-size: 13px;
  padding: 0.1em 0.6em;
  border: 0.16em solid rgb(243 233 233 / 0%);
  border-radius: 2em;
}

.label-tag__pos {
  background-color: #52c56f;
}
.label-tag__pp {
  background-color: #45ccd8e7;
}
.label-tag__hd {
  background-color: #f79263;
}

.checkbox {
  position: absolute;
  left: -9999px;
}

.checkbox-label::before {
  position: relative;
  margin: 5px;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #ab576c;
  font-family: 'FontAwesome';
  content: '\f09c';
  font-size: 16px !important;
  transition: background-color 0.2s, box-shadow 0.2s;
}
/* .checkbox-label::before{
    content: 'OFF';
} */

.checkbox:checked + .checkbox-label::before {
  background-color: #8feb92a6;
  content: '\f023';
  font-size: 16px !important;
  position: relative;
  left: 30px;
  z-index: 100;
}
