*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-image: linear-gradient(210deg, #2b1bc1, #38eef0 );
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
header{
  font-size: 1.8rem;
}
a{
  text-decoration: none;
  font-size: 2rem;
  color: #e6f0ef
}
 a:visited{
   text-decoration: none;
}
header, form, .projects {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input, form button {
    padding: 0.8rem;
    font-size: 1.7rem;
    border: none;
    background: white;
}
::placeholder {
  color: #7aa5d2;
  font-size: 1.3rem;
}
form button {
  background-color: white;
  cursor:pointer;
  transition: all 0.3s ease;
}
form button:hover{
  color: white;
  background-color: #42cdec ;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.6rem;
  background-color: white;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.todo li{
  flex: 1;    /* use all space avaiable in this case */
}
.trash-button ,
.complete-button{
  padding: 1rem;
  font-size: 1.2rem;
  color:#39a2dd;
  background-color: white ;
  cursor:pointer;
  border: none;
  transition: all 0.5s ease;
}
.trash-button i {
  color: #f4113a  ;
}
.complete-button i{
  color:  #139c35  ;
}
.todo-item{
  padding: 1rem 1rem;
}
.fa-trash-alt, .fa-check-square {
  pointer-events: none;      /* make icons not clickable, parent instead */
}
.completed{
  text-decoration: line-through;
  opacity: 0.3;
}
.fall{
  transform:  translateY(12rem) translateX(10rem) rotateZ(30deg);
  opacity: 0;
}
select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance;none;
  border: none;
  color: #3845f0;
  font-size: 1rem;
  width: 12rem;
  cursor: pointer;
  padding: 0.8rem;
}
.select{
  position: relative;
  overflow: hidden;
  margin: 1rem;
  color: black;
}
.select::after {              /* put content after element*/
  content: "\25BC";
  position: absolute;
  top:0;
  right:0;
  padding: 0.8rem;
  pointer-events: none;
  transition: all 0.3s ease;    /* make icons not clickable, parent instead */
}
.select:hover::after{
  background: #564bbe;
  color: #fbfdfe;
}
